<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar>
  <button mat-button [matMenuTriggerFor]="menu">MENU</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <span>Welcome to {{ title }}!</span>
</mat-toolbar>

<router-outlet></router-outlet>

<div>
  <mat-card>
    <button mat-raised-button>Cersie Lannister</button>
    <button mat-raised-button color="primary">Jaime Lannister</button>
    <button mat-raised-button color="accent">Tyrion Lannister</button>
  </mat-card>
</div>
